<% categories.each do |category| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
            <%= link_to category.name, category_path(category)%>
        </div>
        
        <%if logged_in? && current_user.admin? %>
          <div class="article-actions">
            <%= link_to "Edit this category", edit_category_path(category), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this category", category_path(category), method: :delete, data: {confirm: "Are you sure?"}, 
                                                                                              class: "btn btn-xs btn-danger" %>
          </div>      
        <%end%>
      </div>
    </div>
  </div>


<%end%>