<h1 align="center">Listing all categories</h1>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'category', categories: @categories%>

<div align="center">
  <%= will_paginate %>
</div>
